[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "==7.14.1"
schematics = "==2.1.1"
black = "==21.9b0"
certifi = "==2021.5.30"
Flask = "==2.0.2"
Jinja2 = "==3.0.1"
WTForms = "==2.3.3"

[dev-packages]

[requires]
python_version = "3.9"
